[program:xopay-processing]
command=/var/www/xopay/processing/venv/bin/python /var/www/xopay/processing/app.py
directory=/var/www/xopay/processing
user={user}
autostart=true
autorestart=true
redirect_stderr=true

